/*jasmine style overrides make "pending" more prominent*/
.html-reporter .symbol-summary li.pending:before {
    color: #0c56aa /*#ba9d37*/;
    content: "*";
}

.html-reporter .summary li.pending a {
    color: #0c56aa /*#ba9d37*/;
}

.html-reporter .summary li.pending:after {
    content: " (PENDING)";
    color: #0c56aa /*#ba9d37*/;
}
