<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="header as vm">
    <div class="navbar-inner">
        <a class="brand" data-ui-sref="{{vm.home.sref}}">
            <span class="title">Zza!</span>
        </a>
        <div>
            <ul class="nav">
                <li data-ng-repeat="state in vm.states"
                    data-ng-class="{ active: state.selected }" ng-click="vm.selectState(state)" >
                    <a data-ui-sref="{{state.sref}}" >{{state.name}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group pull-right">
            <a class="btn btn-warning" ui-sref="{{vm.cart.sref}}"><i class="icon-shopping-cart"></i> Cart</a>
        </div>
    </div>
</nav>
