<div class="container-fluid">
    <div class="row-fluid">

        <div class="span3">
             <div ui-view="dashboard"></div>
        </div>

        <!--
        <div class="span9">
            <div data-ng-switch="isItemView" style="margin-bottom: 30px">
                <div data-ng-switch-when="true" >
                    <div>data-ng-include="'app/views/orderItem.html'"></div>
                </div>
                <div data-ng-switch-when="false">
                    <div data-ng-include="view"></div>
                </div>
            </div>
        </div>
        -->

    </div>
</div>
