<div data-ng-controller="sidebar as vm" ng-hide="!vm.cartOrder">
    <div class="well sidebar-nav">
        Menu
        <ul class="nav nav-list">
            <li data-ng-repeat="link in vm.products" data-ng-class="{active: link.selected == true }" ng-click="vm.selectItem(link)">
                <a data-ng-href="#{{link.path}}">{{link.name}}</a>
            </li>
        </ul>
    </div>

    <div class="well" ng-hide="vm.hideCart" style="background-color: rgb(199, 235, 199); padding-bottom: 40px;">
        Order Summary
        <table class="table-condensed" style="font-size:small">
            <tr><th>Item</th><th>Size</th><th>Qty</th></tr>
            <tr data-ng-repeat="item in vm.cartOrder.orderItems">
                <td><a ng-href="#/order/{{item.product.type}}/{{item.id}}">{{item.product.name}}</a></td>
                <td>{{item.productSize.name}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
        <p></p>
        <div class="btn-group pull-right">
            <a class="btn btn-warning" ui-sref="app.order.cart"><i class="icon-shopping-cart"></i> Cart</a>
        </div>

    </div>

    <div class="well" ng-hide="vm.hideHistory" >
        Recently Viewed
        <table class="table-condensed" style="font-size:small">
            <tr><th>Item</th><th>Size</th><th>Qty</th></tr>
            <tr data-ng-repeat="item in vm.draftOrder.orderItems">
                <td><a  ng-href="#/menu/{{item.product.type}}/{{item.productId}}">{{item.product.name}}</a></td>
                <td>{{item.productSize.name}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
    </div>
</div>
