*.svn
*.idea
*.user
*.docx
*.vs
*.vsmdi
*.cmd
*.testsettings
*.old
*.suo
*.zip

[Tt]humbs.db

#In samples we don't commit breeze files; we build them again
breeze*.js
breeze*.css
#Same with the Breeze Labs EdmBuilder
EdmBuilder.cs

bower_components
node_modules
bin
obj
packages
Unused
TestResults
_temp
_ReSharper*

GetFtpCredential.ps1

breeze-*.zip
breeze*.nupkg

#Don't commit databases (except manually in some cases)
*.mdf
*.ldf
*.sdf
/node/zza-node-mongo/database/


# mongo db
###################
#Don't commit Mongo Database files
*.lock
*.0
*.1
*.ns
journal

/node/zza-node-mongo/client/deprecated/routeManager.js
/node/zza-node-mongo/client/deprecated/routeController.js
/node/zza-node-mongo/client/deprecated/orig.html
