*.svn
*.idea
*.user
*.docx
*.vsmdi
*.cmd
*.testsettings
*.old
*.suo

#In samples we don't commit breeze files; we build them again
breeze*.js
breeze*.css

node_modules
bin
obj
packages
_temp
Unused
TestResults
_ReSharper*

GetFtpCredential.ps1

breeze-*.zip
breeze*.nupkg

#Don't commit databases (except manually in some cases)
*.mdf
*.ldf
*.sdf