<div id="wrapper" data-ng-controller="pageController as vm">
    <article>
        <header>
            <h2>Windows Azure</h2>
            <h1>Breeze Mobile Services</h1>

            <!-- Buttons and Checkboxes-->
            <p class="button-bar">
                <input type="checkbox" data-ng-model="vm.showCompleted" > Show completed &nbsp;&nbsp;
                <input type="checkbox" data-ng-model="vm.showDeleted" > Show deleted
                <button class="btn-sync" title="Sync changes with Azure."
                        data-ng-disabled="vm.syncDisabled()" data-ng-click="vm.sync()" >Sync</button>
                <button class="btn-refresh" title="Refresh with changes from Azure but don't save."
                        data-ng-click="vm.refresh()" >Refresh</button>
                <button class="btn-reset"  title="Discard changes and reload from Azure."
                        data-ng-click="vm.reset()">Reset</button>
            </p>
            <form id="add-item" data-ng-submit="vm.addItem()">
                <div>
                    <input id="new-item-text" data-ng-model="vm.newItemText" autofocus="true" placeholder="Enter new task" />
                </div>
            </form>
        </header>

        <!-- Todo Items -->
        <!-- Uncomment next line for debugging -->
        <!-- <pre>{{vm.todos | json}}</pre> -->
        <ul id="todo-items">
            <li class="fader-animation" data-ng-repeat="item in vm.todos | filter:vm.itemsFilter">
                <button class="item-delete" data-ng-click="vm.deleteItem(item)">Delete</button>
                <input type="checkbox" class="item-complete" data-ng-model="item.complete"/>
                <div>
                    <input class="item-text {{item.entityStateName}}" data-ng-model="item.text"/>
                </div>
            </li>
        </ul>

        <p id="summary">
            <span data-ng-show="vm.isBusy"></span>
            <span data-ng-hide="vm.isBusy">
                <strong>{{vm.counts.all}} item(s)</strong>&nbsp;&nbsp; </span>
                <span class="Added">Added: {{vm.counts.Added}}&nbsp;&nbsp; </span>
                <span class="Modified">Modified: {{vm.counts.Modified}}&nbsp;&nbsp; </span>
                <span class="Deleted">Deleted: {{vm.counts.Deleted}}</span>
            </span>
        </p>
    </article>

    <footer>
        <a href="http://www.windowsazure.com/en-us/develop/mobile/">
            Learn more about Windows Azure Mobile Services
        </a>

        <!-- WIP Messages -->
        <ul id="wip-messages" data-ng-show="vm.wipMessages.length" >
            <li data-ng-repeat="msg in vm.wipMessages">{{msg}}</li>
        </ul>

        <!-- Error Log -->
        <div id="errorlog" data-ng-show="vm.errorLog.length">
            <input type="checkbox" checked data-ng-model="vm.showErrorLog" >
            Show error log with {{vm.errorLog.length}} error(s).
            <ul data-ng-show="vm.showErrorLog">
                <li data-ng-repeat="err in vm.errorLog">{{err}}</li>
            </ul>
        </div>
    </footer>
</div>